<div class="wrapper">
  <div class="centerFlex">
    <!-- <img src="../../assets/untitled.png" /> -->
  </div>
  <h5><strong>Novo</strong><span>news</span> е безплатно приложение, което събира най-популярните български новини на
    едно място. Tо не създава собствени публикации и не носи отговорност за съдържанието на публикациите на своите източници.</h5>
  <h5>Източници:</h5>
  <a href="https://dir.bg/">https://dir.bg/</a>
  <a href="https://fakti.bg/">https://fakti.bg/</a>
  <a href="https://www.24chasa.bg/">https://www.24chasa.bg/</a>

  <h5>Контакти на разработчика:</h5>
  <p>Website:</p> 
  <a href="https://www.caloferov.com/">www.caloferov.com</a>
  <p>Email:</p>
  <p>caloferov@gmail.com</p>

</div>