/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/* Light theme colors: */
body {
  /* By ionic documentation: */
  --ion-background-color: #ffffff;
  /* Custom: */
  --searchbar-background: #eaeaea;
  --boxShadow: #969696;
}

/* Dark theme colors: */

// THIS QUERY is for auto detect preferred theme.
// @media (prefers-color-scheme: dark) {
//   /* Web color?! IDK */
//   body {
//   }

//   /* Material Design Dark Theme */
//   .md body {
//     --ion-background-color: #000000;
//     --ion-text-color: #ffffff;
//     --searchbar-background: #21212194;
//     --boxShadow: #000000;
//   }

//   /* iOS Dark Theme  */
//   .ios body {
//   }
// }

/* Browsers fallback  */
body.dark {
  --ion-background-color: #000000;
  --ion-text-color: #ffffff;
  --searchbar-background: #21212194;
  --boxShadow: #000000;
}
