<ion-list class="popover" [ngClass]="{'show': show}">
  <!-- <ion-list-header>Ionic</ion-list-header> -->
  <ion-item lines="none">
    <ion-label>Dark mode</ion-label>
    <ion-toggle (ionChange)="themeService.toggleTheme($event.detail.checked)"
      [(ngModel)]="themeService.toggleIsChecked"></ion-toggle>
  </ion-item>
  <ion-item lines="none" button (click)="navigationService.navigateToAbout()">Контакти и източници</ion-item>
  <!-- <ion-item lines="none" button (click)="navigationService.navigateToRatePlayStore()">Оценете ни</ion-item> -->
  <!-- <ion-item lines="none" detail="false" button onClick="dismissPopover()">Close</ion-item> -->
</ion-list>