<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="clickedSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <h1 class="appTitle">novo</h1>
    <ion-buttons slot="end">
      <ion-button (click)="showPopover = !showPopover">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <app-popover-menu #popover *ngIf="showPopover"></app-popover-menu>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <div class="listWrapper">
      <div *ngFor="let article of articles" class="regularArticle">
        <div class="textPart" (click)="openArticle(article.link)">
          <h5>{{article.title}}</h5>
          <p>{{article.pubDate}}</p>
        </div>
        <img [src]="article.imageURL" (click)="openArticle(article.link)" />
      </div>
    </div>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="infiniteLoadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>