<ion-header #header class="ion-no-border" [translucent]="true" [style.marginTop.px]="headerMarginTop">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="navigationService.showContent == 'content'" (click)="showSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="navigationService.showContent == 'about'" (click)="navigationService.goHome()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="middleHeader" [ngClass]="{'showSearchbar': navigationService.showSearchbar}"
      (click)="clickedOutsideService.itClickedOn('middleHeader')">
      <div class="appTitleWrapper centerFlex w100 h100 trans03">
        <h1 class="appTitle absolute"><strong>novo</strong><span>news</span>.</h1>
      </div>
      <div class="searchbarWrapper centerFlex w100 h100 trans03">
        <ion-searchbar (ionChange)="onSearchValueChange($event)" class="searchbar absolute"
          [ngClass]="{'disableSearch': !navigationService.showSearchbar}" #searchbar animated searchIcon="none"
          placeholder="Търси новини" debounce="500" value="{{searchValue}}">
        </ion-searchbar>
      </div>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="showPopoverMenu()">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <app-popover-menu #popover [show]="navigationService.showPopover"></app-popover-menu>
</ion-header>

<ion-content class="content fixed" [fullscreen]="true" scrollEvents="true" (ionScroll)="onScroll($event)"
  (ionScrollEnd)="onScrollEnd($event)" (touchend)="onTouchEnd()" (click)="clickedOutsideService.itClickedOn('content')">
  <ion-list *ngIf="navigationService.showContent == 'content'">
    <app-skeleton *ngIf="fetchRSSNewsService.showSkeleton;"></app-skeleton>
    <div *ngIf="!fetchRSSNewsService.showSkeleton;" class="listWrapper">
      <div class="w100 helpsSmoothlyHideHeader" [style.height.px]="56">
      </div>
      <div *ngFor=" let article of fetchRSSNewsService.articles" class="regularArticle">
        <div class="textPart" [ngClass]="{'w100': !article.imageURL}" (click)="openArticle(article.link)">
          <h5>{{article.title}}</h5>
          <p><strong><span>{{article.source}} · </span></strong>{{article.pubDate | date:'M/d/yy - H:mm'}}</p>
        </div>
        <img *ngIf="article.imageURL" [src]="article.imageURL" (click)="openArticle(article.link)" />
      </div>
    </div>
  </ion-list>
  <ion-infinite-scroll *ngIf="navigationService.showContent == 'content' && !this.fetchRSSNewsService.allLoaded"
    threshold="100px" (ionInfinite)="infiniteLoadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Новините идват при теб...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <app-about class="about" *ngIf="navigationService.showContent == 'about'"></app-about>
</ion-content>